{% extends 'base.html' %}
{% load pybo_filter %}

{% block content %}

<div class="container my-3">
    <!-- 양쪽정렬 justify-content-between로 변경 -->

    <div class="d-flex justify-content-between  my-2">
        <div class="p-2 flex-grow-1">
            <select class="form-select form-select text-center so">
                <option value="recent" {% if so == 'recent' %}selected{% endif %}>최신순</option>
                <option value="recommend" {% if so == 'recommend' %}selected{% endif %}>추천순</option>
                <option value="popular" {% if so == 'popular' %}selected{% endif %}>인기순</option>
            </select>
        </div>
        <div class="input-group p-2">
            <input type="text" class="form-control kw" value="{{ kw|default_if_none:'' }}">
            <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
        </div>
    </div>
        <div class="d-flex justify-content-end">
            <a href="{% url 'pybo:question_create' %}" class="btn btn-primary">새글쓰기</a>
        </div>

        <table class="table">
            <thead>
            <tr class="text-center thead-dark">
                <th class="text-center">번호</th>
                <th class="text-center">추천</th>
                <th class="text-center" style="width: 50%">제목</th>
                <th class="text-center">작성자</th>
                <th class="text-center">작성일시</th>
            </tr>
            </thead>
            <tbody>
            {% if question_list %}
            {% for question in question_list %}
            <tr class="text-center">
                <td>
                    <!-- { question.id }} -->
                    <!-- 번호 = 전체개수 - 시작인덱스 - 현재인덱스 + 1 -->
                    {{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}
                </td>
                <td>
                    {% if question.voter.all.count > 0 %}
                    <span class="badge badge-warning px-2 py-1">{{ question.voter.all.count }}</span>
                    {% comment %} {% else %}
                    <span class="badge badge-warning px-2 py-1"> 0 </span> {% endcomment %}
                    {% endif %}
                </td>
                <td class="text-left">
                    <a style="text-decoration: none;" href="{% url 'pybo:detail' question.id %}">{{ question.subject }}</a>
                    {% if question.answer_set.count > 0 %}
                        <span class="text-danger small ml-2"> {{ question.answer_set.count }} </span>
                    {% endif %}
                </td>
                <td>{{ question.author.username }}</td>
                <td>{{ question.create_date }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">질문이 없습니다.</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
        <!-- 페이징처리 시작 -->
        <ul class="pagination d-flex justify-content-center">
            <!-- 처음페이지 -->
            {% if question_list.has_previous %}
            <li class="page-item">
                <a class="page-link"  href="#" data-page="1"  aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            </li>
            {% comment %} {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            </li> {% endcomment %}
            {% endif %}            
            <!-- 이전페이지 -->
            {% if question_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="#" data-page={{ question_list.previous_page_number }} aria-label="Previous"><span aria-hidden="true">&lt;</span></a>
            </li>
            {% comment %} {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#" aria-label="Previous"><span aria-hidden="true">&lt;</span></a>
            </li> {% endcomment %}
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in question_list.paginator.page_range %}
                {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
                    {% if page_number == question_list.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" data-page={{ page_number}} href="#">{{ page_number }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" data-page= {{ page_number }} href="#">{{ page_number }}</a>
                    </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if question_list.has_next %}
            <li class="page-item">
                <a class="page-link"  data-page="{{ question_list.next_page_number }}" href="#" aria-label="Next">
                    <span aria-hidden="true">&gt;</span></a>
            </li>
            {% comment %} {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#" aria-label="Next">
                    <span aria-hidden="true">&gt;</span></a>
            </li> {% endcomment %}
            {% endif %}
            <!-- 마지막페이지 -->
            {% if question_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ question_list.paginator.num_pages }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span></a>
            </li>
            {% comment %} {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span></a>
            </li> {% endcomment %}
            {% endif %}
        </ul>
        <!-- 페이징처리 끝 -->
    </div>
    <form id="searchForm" method="get" action="{% url 'pybo:index' %}">
        <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
        <input type="hidden" id="page" name="page" value="{{ page }}">
        <input type="hidden" id="so" name="so" value="{{ so }}">
    </form>
{% endblock %}

{% block script %}
<script type='text/javascript'>
    {% comment %} window.onload = function() {
       

    } {% endcomment %}
    var pageLink = document.querySelectorAll(".page-link");

    pageLink.forEach((page) => {
        page.addEventListener('click', (e)=>{
                document.getElementById('page').value = page.getAttribute('data-page');
                document.getElementById('searchForm').submit();
        })
    })

    var search = document.querySelector("#btn_search");

    search.addEventListener('click', (e)=>{
        var kw = document.getElementById('kw');
        console.log(document.getElementById('kw'));
        var cKw = document.getElementsByClassName('kw')[0];
        console.log(cKw.value);
        kw.value = cKw.value;
        document.getElementById('page').value = 1;
        document.getElementById('searchForm').submit();
    })

    var sortOption = document.getElementsByClassName('so')[0];
    sortOption.addEventListener('change', (e)=>{
        var so = document.getElementById('so');
        so.value = sortOption.value;
        document.getElementById('page').value = 1;
        document.getElementById('searchForm').submit();
    }, false)

    {% comment %} $(".so").on('change', function() {
        $("#so").val($(this).val());
        $("#page").val(1);
        $("#searchForm").submit();
    }); {% endcomment %}

    </script>


{% endblock %}