{% extends 'base.html' %}
{% load pybo_filter %}

{% block content %}

<div class="container my-3">
    <div class="row justify-content-end my-3">
        <div class="col-4 input-group">
            <input type="text" class="form-control kw" value="{{ kw|default_if_none:'' }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
            </div>
        </div>
    </div>
        <div class="d-flex justify-content-end">
            <a href="{% url 'pybo:question_create' %}" class="btn btn-primary">새글쓰기</a>
        </div>

        <table class="table">
            <thead>
            <tr class="text-center thead-dark">
                <th class="text-center">번호</th>
                <th class="text-center">추천</th>
                <th class="text-center" style="width: 50%">제목</th>
                <th class="text-center">작성자</th>
                <th class="text-center">작성일시</th>
            </tr>
            </thead>
            <tbody>
            {% if question_list %}
            {% for question in question_list %}
            <tr class="text-center">
                <td>
                    <!-- { question.id }} -->
                    <!-- 번호 = 전체개수 - 시작인덱스 - 현재인덱스 + 1 -->
                    {{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}
                </td>
                <td>
                    {% if question.voter.all.count > 0 %}
                    <span class="badge badge-warning px-2 py-1">{{ question.voter.all.count }}</span>
                    {% comment %} {% else %}
                    <span class="badge badge-warning px-2 py-1"> 0 </span> {% endcomment %}
                    {% endif %}
                </td>
                <td class="text-left">
                    <a style="text-decoration: none;" href="{% url 'pybo:detail' question.id %}">{{ question.subject }}</a>
                    {% if question.answer_set.count > 0 %}
                        <span class="text-danger small ml-2"> {{ question.answer_set.count }} </span>
                    {% endif %}
                </td>
                <td>{{ question.author.username }}</td>
                <td>{{ question.create_date }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">질문이 없습니다.</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
        <!-- 페이징처리 시작 -->
        <ul class="pagination d-flex justify-content-center">
            <!-- 처음페이지 -->
            {% if question_list.has_previous %}
            <li class="page-item">
                <a class="page-link"  href="#" data-page="1"  aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            </li>
            {% comment %} {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            </li> {% endcomment %}
            {% endif %}            
            <!-- 이전페이지 -->
            {% if question_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="#" data-page={{ question_list.previous_page_number }} aria-label="Previous"><span aria-hidden="true">&lt;</span></a>
            </li>
            {% comment %} {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#" aria-label="Previous"><span aria-hidden="true">&lt;</span></a>
            </li> {% endcomment %}
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in question_list.paginator.page_range %}
                {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
                    {% if page_number == question_list.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" data-page={{ page_number}} href="#">{{ page_number }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" data-page= {{ page_number }} href="#">{{ page_number }}</a>
                    </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if question_list.has_next %}
            <li class="page-item">
                <a class="page-link"  data-page="{{ question_list.next_page_number }}" href="#" aria-label="Next">
                    <span aria-hidden="true">&gt;</span></a>
            </li>
            {% comment %} {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#" aria-label="Next">
                    <span aria-hidden="true">&gt;</span></a>
            </li> {% endcomment %}
            {% endif %}
            <!-- 마지막페이지 -->
            {% if question_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ question_list.paginator.num_pages }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span></a>
            </li>
            {% comment %} {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span></a>
            </li> {% endcomment %}
            {% endif %}
        </ul>
        <!-- 페이징처리 끝 -->
    </div>
    <form id="searchForm" method="get" action="{% url 'pybo:index' %}">
        <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
        <input type="hidden" id="page" name="page" value="{{ page }}">
    </form>
{% endblock %}

{% block script %}
<script type='text/javascript'>
    {% comment %} window.onload = function() {
       

    } {% endcomment %}
    var pageLink = document.querySelectorAll(".page-link");

    pageLink.forEach((page) => {
        page.addEventListener('click', paging, false)

        function paging(e){
            document.getElementById('page').value = page.getAttribute('data-page');
            document.getElementById('searchForm').submit();
        }
    })

    var search = document.querySelector("#btn_search");

    search.addEventListener('click', doSearch, false)

    function doSearch(e){
        
        var kw = document.getElementById('kw')
        console.log(document.getElementsByClassName('kw').value)
        kw.vlaue = document.getElementsByClassName('kw').value
        console.log(kw)
        document.getElementById('page').value = 1
        document.getElementById('searchForm').submit();
    }

    {% comment %} $(document).ready(function(){
        $(".page-link").on('click', function() {
            $("#page").val($(this).data("page"));
            $("#searchForm").submit();
        });
    
        $("#btn_search").on('click', function() {
            $("#kw").val($(".kw").val());
            $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
            $("#searchForm").submit();
        });
    }); {% endcomment %}
    console.log(document.getElementsByClassName('kw').value)
    </script>


{% endblock %}